/ayush.css
/ayush.html
/ayush.js
/backend.php
/birthday.jpg
/entities.html
/fix.html
/forms .html
/gun.html
/gun3.html
/heading and para4.html
/ids and class.html
/inline and block element.html
/inline and block elements.html
/links and images5.html
/myphoto.jpg
/semantic tags.html
/tables and lists.html
/time.html
/tut13